apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  namespace: mlops-infra
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
      - name: mlflow
        image: mlflow-local:v2
        imagePullPolicy: IfNotPresent
        env:
        - name: MLFLOW_BACKEND_STORE_URI
          value: postgresql+psycopg2://mlflow:mlflow@postgres.mlops-infra.svc.cluster.local:5432/mlflow
        - name: MLFLOW_DEFAULT_ARTIFACT_ROOT
          value: s3://mlflow/
        - name: AWS_ACCESS_KEY_ID
          value: minio
        - name: AWS_SECRET_ACCESS_KEY
          value: minio12345
        - name: MLFLOW_S3_ENDPOINT_URL
          value: http://minio.mlops-infra.svc.cluster.local:9000
        - name: AWS_REGION
          value: us-east-1
        - name: MLFLOW_SERVER_DISABLE_SECURITY_MIDDLEWARE
          value: "true"
        ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: mlflow
  namespace: mlops-infra
spec:
  selector:
    app: mlflow
  ports:
  - name: http
    port: 5000
    targetPort: 5000
