apiVersion: batch/v1
kind: Job
metadata:
  name: trainer
  namespace: mlops-apps
spec:
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: trainer
        image: trainer-local:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: DATA_PATH
          value: /data/Prices.csv
        - name: TARGET_TICKER
          value: "ALL"
        - name: HORIZON_DAYS_MAX
          value: "7"
        - name: INCLUDE_MONTHLY
          value: "0"
        - name: TRAIN_END
          value: "2021-12-31"
        - name: VAL_END
          value: "2023-12-31"
        - name: MLFLOW_TRACKING_URI
          value: http://mlflow.mlops-infra:5000
        - name: MLFLOW_S3_ENDPOINT_URL
          value: http://minio.mlops-infra.svc.cluster.local:9000
        - name: AWS_ACCESS_KEY_ID
          value: minio
        - name: AWS_SECRET_ACCESS_KEY
          value: minio12345
        - name: AWS_REGION
          value: us-east-1
        - name: PREDICTIONS_BUCKET
          value: predictions
        - name: MIN_SAMPLES_PER_SPLIT
          value: "200"
